.about { 
background-color: beige;
height: 100%;
}
.about .cards {
    margin-top: 40px;
    display: flex;
    gap: 300px;
    height: 520px;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    margin-bottom: 5px;
}
.about .card img {
    height: 300px;
    border-radius: 1rem;
    border-color: black;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
    .about .cards {
        gap: 10px; /* Reduce gap for smaller screens */
    }
}

