.home-page {
  background-color: beige;
  padding: 20px;
  text-align: center;
}

.home-page h1 {
  color: black;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0;
}

.home-bbq {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-main {
  margin-right: 20px;
  width: auto;
  max-width: 100%;
  max-height: 500px;
}

.home-page p.home {
  font-weight: bold;
  max-width: 300px;
  margin: 0 auto 20px;
  text-align: left;
}

.recipe-image {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-image .col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

.recipe-image img {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}

.recipe-text {
  color: red;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 20px;
}

.recipe-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-text button:hover {
  background-color: #0056b3;
}
