.home-page {

  background-color: black;
  
  padding: 20px;
  text-align: center;

}

.home-page h1 {
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-top: 0;
  position: absolute;
  left: 25%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 50pt;
}

.home-bbq {
  width: 100%;
  height: 500px;
  position: relative;
  display: inline-block;
}

.img-main {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.home-text {
  position: absolute;
  top: 15%;
  right: 10px;
  color: white;
  width: 35%;
  font-size: 20pt;
  font-family: Arial, Helvetica, sans-serif;
  font-style: oblique;
}

.home-page p.home {
  font-weight: bold;
  max-width: 300px;
  margin: 0 auto 20px;
  text-align: center;
}

.recipe-image {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.recipe-image .col-md-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 10px;
}

.recipe-image img {
  max-width: 100%;
  max-height: 500px;
  margin-bottom: 20px;
}

.recipe-text {
  color: red;
  text-transform: uppercase;
  font-style: italic;
  margin-top: 20px;
}

.recipe-text button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.recipe-text button:hover {
  background-color: #0056b3;
}
