.recipe {
  background-color: #f7f9f9;
  width: 100%;
}

.post-list .card {
  display: inline-block;
  vertical-align: top;
  height: 370px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.card-img-top {
  height: 150px;
}

.card-title {
  height: 45px;
}

.card-text {
  margin-bottom: 3px;
}

.go-to-recipe {
  margin-top: 15px;
}
