.register-form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 50px;
}

.form-container {
  width: 400px;
  padding: 20px;
  height: 400px;
}

.account {
  width: 75%;
  background-color: transparent;
  color: black;
  border: 1px solid black;
}

.account:hover {
  background-color: gray;
}
