.footer {
  padding: 0 !important;
  color: #fff;
  text-align: center;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.footer .fa-brands {
  font-size: 40px;
}

.img {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
}
.navbar-nav {
  justify-content: space-evenly;
  width: 100%;
}
.footer .nav-item {
  justify-content: space-evenly;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .about .cards {
      gap: 10px; /* Reduce gap for smaller screens */
  }
}