.navbar {
  padding: 0 !important;
  position: sticky;
}

.navbar-brand {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
}

.nav-link-active {
  font-style: italic;
  color: black;
  font-size: 17px;
}

.navbar .btn i {
  margin-right: 5px;
}

.navbar .container-fluid {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.navbar a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.navbar a:hover,
.navbar .dropdown:hover {
  color: white;
}

.navbar .form-inline {
  display: flex;
  align-items: center;
}

.navbar .btn-outline-dark {
  color: black;
  border-color: black;
  margin-left: 10px;
}
/* Media query for smaller screens */
@media (max-width: 768px) {
  .about .cards {
    gap: 10px; /* Reduce gap for smaller screens */
  }
}
