/*.container {
    display: flex;
    flex: wrap;
}*/
.home {
  background-color: beige ;
}
.home h1 {
  
  color: blue;
  margin-bottom: 5px;
  
}
.home section {
  display: flex;
}

.home .img-main {  
  margin-left: 25px;
  height: 800px;
  margin-top: 150px;
}

.home p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  margin-left: 300px;
  margin-top: 150px;
}

.home .img-p {
  height: 450px;
  margin-right: 0px;
  margin-top: 0px;
}
.home .img-p2 {
  height: 350px;
  margin-bottom: 200px;
}
.home flex {
display: flex;
flex-direction: column;
margin-top:px;
}

