.recipe {
  background-color: #f7f9f9;
  width: 100%;
}

.recipe {
  text-align: center; 
}

.recipe-img {
  height: 200px;
 justify-content: center;
 margin-bottom: 200px; 
  width: 40%; 
}

.recipe-img img {
  
}

