.footer {
  background-color: red;
  padding: 0 !important;
    color: #fff;
    text-align: center;
    width: 100%;
    bottom: 0;
    
  }

  .fa-brands {
    font-size: 30px;
  }
.img {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    align-items: center;

}