.navbar {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0 !important;
  justify-content: space-evenly;
}

.navbar h3 {
  color: var(--sub-heading-color);
}

.navbar .navbar-nav {
  justify-content: space-evenly !important;
  width: 100%;
}
